body{font-family: "Roboto", sans-serif;}
a{text-decoration: none;}
ul{list-style: none;}
header{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;}
.hd2{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: black;
    background: #F5F4FA;
    border: 0px;
    border-radius: 4px;
}
.hdd{position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    }
.hddd{position: absolute;
    width: 72px;
    height: 16px;
    left: 552px;
    top: 32px;
    color: #2196F3;}
.hdddd{position: absolute;
    width: 64px;
    height: 16px;
    left: 679px;
    top: 32px;}
.m1{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    }
#m{position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    }
#mm{position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    }
#m1{color: #2196F3;}
#tl1{color: #757575;}
#w1{position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    }
.web{color: #2196F3;}
.Studio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: rgb(0, 0, 0);
}