body{font-family: "Roboto", sans-serif;
    }
a{text-decoration: none;}
ul{list-style: none;}
header{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;}
.hd2{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: black;
    background: #F5F4FA;
    border: 0px;
    border-radius: 4px;
}
.hdd{position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    }
.hddd{position: absolute;
    width: 72px;
    height: 16px;
    left: 552px;
    top: 32px;
    color: #2196F3;}
.hdddd{position: absolute;
    width: 64px;
    height: 16px;
    left: 679px;
    top: 32px;}
.m1{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    }
#m{position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    }
#mm{position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    }
#b0{position: absolute;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    background: #2196F3;
    color: white;
}
#b1{position: absolute;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
}
#b2{position: absolute;
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
}
#b3{position: absolute;
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;
    
}
#b4{position: absolute;
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
    
}
#w1{position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    }
.web{color: #2196F3;}
.Studio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: rgb(0, 0, 0);
}
#i0{position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 262px;
}
#i1{position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 262px;
}
#i2{position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 262px;
}
#i3{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 696px;
}
#i4{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 696px;
}
#i5{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 696px;
}
#i6{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1130px;
}
#i7{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1130px;    
}
#i8{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1130px;
}
.z{font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #212121;}
.t{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;}
#z0{
    position: absolute;
    width: 322px;
    height: 36px;
    left: 239px;
    top: 576px;
    
}
#z1{
    position: absolute;
width: 322px;
height: 36px;
left: 639px;
top: 576px;

}
#z2{
    position: absolute;
    width: 322px;
    height: 36px;
    left: 1039px;
    top: 576px;
    }
#z3{
    position: absolute;
width: 322px;
height: 36px;
left: 239px;
top: 1010px;
}
#z4{
    position: absolute;
width: 322px;
height: 36px;
left: 639px;
top: 1010px;

}
#z5{
    position: absolute;
width: 322px;
height: 36px;
left: 1039px;
top: 1010px;

}
#z6{
    position: absolute;
width: 322px;
height: 36px;
left: 239px;
top: 1444px;
}
#z7{
    position: absolute;
width: 322px;
height: 36px;
left: 639px;
top: 1444px;

}
#z8{
    position: absolute;
width: 322px;
height: 36px;
left: 1039px;
top: 1444px;
}
#t0{position: absolute;
    width: 322px;
    height: 30px;
    left: 239px;
    top: 616px;}
#t1{
    position: absolute;
    width: 322px;
    height: 30px;
    left: 639px;
    top: 616px;
    
}
#t2{
    position: absolute;
width: 322px;
height: 30px;
left: 1039px;
top: 616px;
}
#t3{
    position: absolute;
width: 322px;
height: 30px;
left: 239px;
top: 1050px;

}
#t4{
    position: absolute;
width: 322px;
height: 30px;
left: 639px;
top: 1050px;

}
#t5{
    position: absolute;
width: 322px;
height: 30px;
left: 1039px;
top: 1050px;
}
#t6{
    position: absolute;
width: 322px;
height: 30px;
left: 239px;
top: 1484px;
}
#t7{
    position: absolute;
width: 322px;
height: 30px;
left: 639px;
top: 1484px;
}
#t8{
    position: absolute;
width: 322px;
height: 30px;
left: 1039px;
top: 1484px;
}
footer{position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background: #2F303A;}
#w2{position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 60px;}
.adrs{position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 111px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;}
.m2{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
}
#mmm{position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 141px;
    }
#mmmm{position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 171px;
}
